* {
  box-sizing: border-box;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  border-collapse: collapse;
  border-style: hidden;
  width: min(82vw, 82vh);
  height: min(82vw, 82vh);
  display: inline-table;
}

.table-column {
  width: 33%;
  height: 33%;
}

.table-row {
  width: 33%;
  height: 33%;
}

body {
  font-family: sans-serif;
  text-align: center;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 2rem;
  width: 100%;
  background: black;
}

.header {
  display: flex;
  flex-wrap: wrap;
}

.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2rem;
  width: 33%;
  margin: 4px;
  text-align: center;
  white-space: nowrap;
  pointer-events: initial;
  opacity: 0.8;
}

.highlighted {
  background: rgb(93, 227, 122);
}

.greyed {
  background: lightgray;
}

.board-row {
  display: flex;
  height: 33%;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 1rem;
  text-shadow: 0px 0px 4px black;
}
.game {
  display: flex;
  flex-direction: row;
}

.bigScore {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  height: 6rem;
  line-height: 6rem;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  font-size: 5rem;
  font-weight: bolder;
  color: black;
  text-shadow: 0px 0px 4px white;
}

td {
  position: relative;
  border: 0.2rem solid white;
}

.rulesButton {
  width: 100%;
  border-width: 0px;
  background: lightblue;
  border-radius: 0.4rem;
  font-weight: bold;
  font-size: xx-large;
  padding: 0.2rem;
  pointer-events: all;
}

.container {
  z-index: 2001;
  position: absolute;
  pointer-events: none;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.rulesText {
  text-align: left;
}

.rulesContainer {
  background: #ebf6f9;
  border-radius: 0.4rem;
  margin-top: 1rem;
}

.resetButton {
  right: 1rem;
  margin: 0.4rem;
  background: white;
  border: 0px;
  border-radius: 0.4rem;
  pointer-events: all;
  font-size: xx-large;
}

.headerText {
  flex-grow: 4;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.6rem;
  margin: 0.4rem;
  margin-top: 1rem;
  pointer-events: all;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #929292;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  left: 0.3rem;
  bottom: 0.3rem;
  background-color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input:checked + .slider {
  background-color: #4a4a4a;
}

input:focus + .slider {
  box-shadow: 0 0 1px #cdcdcd;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.4rem);
  -ms-transform: translateX(1.4rem);
  transform: translateX(1.4rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 2rem;
}

.slider.round:before {
  border-radius: 50%;
}

.lowerText {
  margin-top: 1.2em;
  display: flex;
  flex-wrap: wrap;
  max-width: 33%;
  text-shadow: 0px 0px 4px black;
}

.buttonsDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

label {
  float: left;
  padding: 0 0.5rem;
  text-align: center;
}

.slidecontainer {
  display: flex;
  text-align: center;
  justify-content: center;
}
